.root {
	/*-fx-background-color: red; */
    -fx-background-image: url('../image/theme.png');
    -fx-background-size: cover;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}
